<!DOCTYPE html>
<html lang="zh-cn" dir="ltr">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}我的博客 {% endblock %}</title>
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.1/fonts/fontawesome-webfont.svg">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">

    <!-- js -->
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>

</head>
{% endblock %}
<body>

{% block web_navbar %}
<div class="web-navbar">
    <nav id="web-navbar-left" class="navbar nav-stacked navbar-default g-navbar-box " >
    <div class="navbar-header">
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a target="_self" title="" class="navbar-brand" style="font-size: 14px;">我的博客</a>
    </div>
    <div class="">
        <ul id="" class="nav navbar-nav">
            <li class="menu-item">
                <a title="查看网站首页页面的内容" target="_self" href="{{ url_for('.default') }}" class="menu-item-link">网站首页</a>
            </li>
            <li class="menu-item">
                <a title="查看生活点滴分类下的文章" target="_self" href="{{ url_for('.test') }}" class="menu-item-link">生活点滴</a>
{#                <ul class="dropdown-menu bounceOutDown animated">#}
{#                    <li><a title="查看生活琐事分类下的文章" target="_self" href="/topics/life/trivia">生活琐事</a></li>#}
{#                </ul>#}
            </li>
            <li class="menu-item">
                <a title="查看关于苏洋页面的内容" target="_self" href="/about" class="menu-item-link">关于博主</a>
            </li>
            <li class="menu-item">
                <a title="查看学习点滴分类下的文章" target="_self" href="/topics/knowledge" class="menu-item-link">学习点滴</a>
            </li>
            <li class="menu-item"><a title="查看资源分享分类下的文章" target="_self" href="/topics/share" class="menu-item-link">资源分享</a>
            </li>
            <li class="menu-item"><a title="查看友情链接页面的内容" target="_self" href="/links" class="menu-item-link">友情链接</a></li>
            <li class="menu-item"><a title="查看给我留言页面的内容" target="_self" href="/contact" class="menu-item-link">给我留言</a></li>
        </ul></div>
</nav>
    {% block navbar_pic %}
        <div class="web-pic-box" >
        <div class="pic-box-font">
            <h3>新年寄语</h3>
            <p>潜心磨剑,藏器于身</p>
        </div>
    </div>
     {% endblock %}
</div>
{% endblock %}

{% block web_content %}
<div class="web-content">
    <div class="col-md-12">
        <p class="web-content-title">推荐阅读</p>
        <hr style="margin: 0px;padding: 10px 0 0 0;"/>
    </div>
    <div class="col-md-12 post-hover">
        <div class="web-article">
            <h2 class="post-title">洛神赋</h2>
            <div class="meta-box">
                <span class="m-post-date"><i class="fa fa-calendar-o"></i>2016年3月13日</span>
                <span class="m-post-coments"><i class="fa fa-comments-o"></i> 26 评论</span>
            </div>
            <div class="post-expect">
                <p>又到年末，2015年过的格外的快。翻了翻今年寥寥无几的博客文章和最近三十几周的周报，细思收获颇丰。 一句话概括：技术上技能树十字发展，思考上成长不少，生活上多彩了许多，毛病还有不少，仍需努力。 迈过了无数的舒适区，明白了许多不碰到就不会切身明白的事情。<a class="more-link btn btn-primary btn-xs" href="">阅读全文</a>
                </p>
            </div>
            <div class="meta-box">
                <span class="m-post-cat"><i class="fa fa-navicon"></i>分类:生活随笔</span>
                <span class="m-post-sorts"><i class="fa fa-tags"></i>标签:总结</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 post-hover">
        <div class="web-article">
                <h2 class="post-title">洛神赋</h2>
                <div class="meta-box">
                    <span class="m-post-date"><i class="fa fa-calendar-o"></i>2016年3月13日</span>
                    <span class="m-post-coments"><i class="fa fa-comments-o"></i> 26 评论</span>
                </div>
                <div class="post-expect">
                    <p>又到年末，2015年过的格外的快。翻了翻今年寥寥无几的博客文章和最近三十几周的周报，细思收获颇丰。 一句话概括：技术上技能树十字发展，思考上成长不少，生活上多彩了许多，毛病还有不少，仍需努力。 迈过了无数的舒适区，明白了许多不碰到就不会切身明白的事情。<a class="more-link btn btn-primary btn-xs" href="">阅读全文</a>
                    </p>
                </div>
                <div class="meta-box">
                    <span class="m-post-cat"><i class="fa fa-navicon"></i>分类:生活随笔</span>
                    <span class="m-post-sorts"><i class="fa fa-tags"></i>标签:总结</span>
                </div>
            </div>
    </div>
    <div class="col-md-12 post-hover">
        <div class="web-article">
                <h2 class="post-title">洛神赋</h2>
                <div class="meta-box">
                    <span class="m-post-date"><i class="fa fa-calendar-o"></i>2016年3月13日</span>
                    <span class="m-post-coments"><i class="fa fa-comments-o"></i> 26 评论</span>
                </div>
                <div class="post-expect">
                    <p>又到年末，2015年过的格外的快。翻了翻今年寥寥无几的博客文章和最近三十几周的周报，细思收获颇丰。 一句话概括：技术上技能树十字发展，思考上成长不少，生活上多彩了许多，毛病还有不少，仍需努力。 迈过了无数的舒适区，明白了许多不碰到就不会切身明白的事情。<a class="more-link btn btn-primary btn-xs" href="">阅读全文</a>
                    </p>
                </div>
                <div class="meta-box">
                    <span class="m-post-cat"><i class="fa fa-navicon"></i>分类:生活随笔</span>
                    <span class="m-post-sorts"><i class="fa fa-tags"></i>标签:总结</span>
                </div>
            </div>
    </div>
    <div class="col-md-12 post-hover">
        <div class="web-article">
                <h2 class="post-title">洛神赋</h2>
                <div class="meta-box">
                    <span class="m-post-date"><i class="fa fa-calendar-o"></i>2016年3月13日</span>
                    <span class="m-post-coments"><i class="fa fa-comments-o"></i> 26 评论</span>
                </div>
                <div class="post-expect">
                    <p>又到年末，2015年过的格外的快。翻了翻今年寥寥无几的博客文章和最近三十几周的周报，细思收获颇丰。 一句话概括：技术上技能树十字发展，思考上成长不少，生活上多彩了许多，毛病还有不少，仍需努力。 迈过了无数的舒适区，明白了许多不碰到就不会切身明白的事情。<a class="more-link btn btn-primary btn-xs" href="">阅读全文</a>
                    </p>
                </div>
                <div class="meta-box">
                    <span class="m-post-cat"><i class="fa fa-navicon"></i>分类:生活随笔</span>
                    <span class="m-post-sorts"><i class="fa fa-tags"></i>标签:总结</span>
                </div>
            </div>
    </div>
    <div class="col-md-12 post-hover">
        <div class="web-article">
                <h2 class="post-title">洛神赋</h2>
                <div class="meta-box">
                    <span class="m-post-date"><i class="fa fa-calendar-o"></i>2016年3月13日</span>
                    <span class="m-post-coments"><i class="fa fa-comments-o"></i> 26 评论</span>
                </div>
                <div class="post-expect">
                    <p>又到年末，2015年过的格外的快。翻了翻今年寥寥无几的博客文章和最近三十几周的周报，细思收获颇丰。 一句话概括：技术上技能树十字发展，思考上成长不少，生活上多彩了许多，毛病还有不少，仍需努力。 迈过了无数的舒适区，明白了许多不碰到就不会切身明白的事情。<a class="more-link btn btn-primary btn-xs" href="">阅读全文</a>
                    </p>
                </div>
                <div class="meta-box">
                    <span class="m-post-cat"><i class="fa fa-navicon"></i>分类:生活随笔</span>
                    <span class="m-post-sorts"><i class="fa fa-tags"></i>标签:总结</span>
                </div>
            </div>
    </div>

</div>
{% endblock %}

{% block web_footer %}
<span class="web-footer-span"></span>
<span class="web-footer-span"></span>
<div class="web-footer">
    <span class="copyright-link">lucat 博客 20016~2016 &copy; lucat</span>
</div>
{% endblock %}
</body>
</html>