{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 知乎－话题{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1><i class="fa fa-tags"></i> 发表话题</h1>
</div>
{% include '_edit.html' %}
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
{{ pagedown.include_pagedown() }}
{% endblock %}